# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore node_modules (if using Node.js)
node_modules/
chroma_langchain_db/
meta-llama
hebrew_whisper/
data/
models--dunzhang--stella_en_1.5B_v5/
models*
.vscode
# Ignore Docker build files
*.tar
